<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net481" />
  <package id="BenchmarkDotNet" version="0.13.3" targetFramework="net481" />
  <package id="BenchmarkDotNet.Annotations" version="0.13.3" targetFramework="net481" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net481" />
  <package id="CommandLineParser" version="2.4.3" targetFramework="net481" />
  <package id="Dapper" version="2.0.123" targetFramework="net481" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net481" />
  <package id="Fluent.Infrastructure" version="2.0.0-beta-01" targetFramework="net481" />
  <package id="FluentAssertions" version="6.10.0" targetFramework="net481" />
  <package id="Gee.External.Capstone" version="2.3.0" targetFramework="net481" />
  <package id="Iced" version="1.17.0" targetFramework="net481" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net481" />
  <package id="jose-jwt" version="4.1.0" targetFramework="net481" />
  <package id="LocalStorage" version="2.1.0" targetFramework="net481" />
  <package id="MicroReflection" version="1.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net481" />
  <package id="Microsoft.Diagnostics.NETCore.Client" version="0.2.251802" targetFramework="net481" />
  <package id="Microsoft.Diagnostics.Runtime" version="2.2.332302" targetFramework="net481" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.0.2" targetFramework="net481" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Json" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Identity.Core" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Identity.Stores" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Localization" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net481" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.23109.12000" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net481" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" targetFramework="net481" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net481" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net481" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net481" />
  <package id="Nito.Disposables" version="2.2.1" targetFramework="net481" />
  <package id="Owin" version="1.0" targetFramework="net481" />
  <package id="Perfolizer" version="0.2.1" targetFramework="net481" />
  <package id="RestSharp" version="108.0.3" targetFramework="net481" />
  <package id="Serilog" version="2.12.0" targetFramework="net481" />
  <package id="SqlMapper" version="2.0.0" targetFramework="net481" />
  <package id="SqlMapper.Common" version="2.0.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Dynamic.Core" version="1.2.18" targetFramework="net481" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net481" />
  <package id="System.Management" version="6.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net481" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Volo.Abp.Core" version="7.0.0" targetFramework="net481" />
  <package id="Volo.Abp.ObjectMapping" version="7.0.0" targetFramework="net481" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net481" />
  <package id="Xamarin.Forms" version="5.0.0.2545" targetFramework="net481" />
</packages>